/* Example 1 */
.btnpressme{
    display: block;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: goldenrod;
}
.btnactive{
    background-color: crimson;
    font-weight: bolder;

}

/* Example 2 */


#fruitlist li{
    list-style: none;
    border-bottom: 1px solid lightgray;
    width: 200px;
    padding: 1em 2em;
    background-color: beige;
}
#fruitlist li:hover{
    background-color: crimson;
    color: antiquewhite;
}

/* Example 4 */
img{width: 100%; display: block;}
.card{
    width: 200px;
    box-shadow: 1px 1px 5px gray;
}
.linkreadmore{
    display: block;
    background-color: darkblue;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    color: white;
}

.linkreadmore:hover{
    background-color: crimson;
}
.modalwindow{
    background-color: rgba(50,50,50,0.7);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: none;

}
.modalcontent{
    height: 70%;
    width: 60%;
    margin: 5% auto;
    background-color: white;

}
.modalheader{
    background-color: lightgray;
    display: flex;
    padding: 0.5em;

}
.closex{
    width: 10%;
    display: block;
    margin-left: auto;
    font-size: 2em;
    text-align: center;
}
.closex:hover{
    color: crimson;

}
.info{
    padding: 1em;
}