.header{
  padding: 2rem;
}
.home{
  font-size: 20px;
}
.cardcontainer{
  width: 300px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
  margin: 2%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.card{
  width: 300px;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}
.product{
  font-size: 1.2em;
  font-weight: bolder;
}
.productname{
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}
.productprice{
  font-size: 15px;
  text-align: center;
}
.cardfooter{
  font-size: 10px;
  text-align: center;
}
.products{
  display: flex;
  margin: 20px;
}

.modalwindow{
    background-color: rgba(50,50,50,0.7);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: block;
}
.window{
    height: 80%;
    width: 60%;
    margin: 5% auto;
    border-radius: 27px;
    background-color: white;
}
.name{
  text-align: center;
  font-weight:bolder;
}
.closex{
  text-align: right;
  padding: 0.5rem;
}
.modalmain{
  font-style:normal;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
.image{
  height:40%;
  width:40%;
  display: flex;
  justify-content: center;
}