.header{
  padding: 0.75rem;
  background-color: rgb(28, 0, 128);
}
.navlinks{
  justify-content:right;
  display: flex;
}
.title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 2rem;
}
.sitelogo{
  height: 140px;
  width: 200px;
}
.home{
  font-size: 20px;
  text-align: center;
}
.tablink{
  padding: 0.75em;
  margin: 0.5rem;
  font-size: 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 7%;
}
.tablink:hover{
  color: rgb(85, 22, 114);
  cursor: pointer;

}
.backgrounddisplay{
  background: linear-gradient(rgba(19, 3, 143, 0.5)),url(./images/fluffy_main_page.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
}
.shoplink{
  padding: 0.75rem;
  margin: 0.5rem;
  background-color: white;
  text-decoration: none;
  color: black;
  border: none;
  border-radius: 5%;
  position: absolute;
  bottom:-30%;
  left: 10%;
}
.shoplink:hover{
  color: rgb(85, 22, 114);
  cursor:pointer;
}
.checkit{
  text-align: center;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.shopnavlinks{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.cardcontainer{
  width: 300px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
  margin: 2%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: snow;
}
.cardcontainer:hover{
  box-shadow: 0.5px 0.5px 2.5px gray;
  cursor: pointer;
}
.card{
  width: 150px;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  align-content: center;
}
.product{
  font-size: 1.2em;
  font-weight: bolder;
}
.productname{
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}
.productprice{
  font-size: 15px;
  text-align: center;
}
.products{
  display: flex;
  margin: 20px;
  justify-content: center;
}

.modalwindow{
    background-color: rgba(50,50,50,0.7);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: block;
}
.window{
    height: 85%;
    width: 60%;
    margin: 5% auto;
    border-radius: 27px;
    background-color: white;
}
.name{
  text-align: center;
  font-weight:bolder;
}
.closex{
  text-align: right;
  margin: 1rem;
  font-size: 30px;
}
.closex:hover{
  cursor:pointer;
}
.modalmain{
  font-style:normal;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  padding: 1rem;
  text-align: center;
}
.input{
  height: 20px;
  width: 35px;
}
.image{
  height:150px;
  width:150px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.imagemodal{
  height:250px;
  width:250px;
  display: flex;
  left: 37.5%;
  position: relative;
}
.imagecart{
  height:100px;
  width:100px;
  display: flex;
}
.modalfooter{
  align-content: center;
  display: flex;
  justify-content: center;
}
.name{
  margin-top: 0.5em;
  font-size: 25px;
}
.footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}