*{box-sizing: border-box;} /*preserve the 100% width of the screen */
img{width:100%; display: block;}
.header{
    background-color:forestgreen;
    display: flex;
}
.logo{
    width: 25%;
    padding: 1em;
}
.title{
    width: 50%;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    

}
.quicklinks{
    width: 25%;
    height: 1%;
    margin-left: auto;
    padding: 1em 0.2em; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}
.quicklinks a{
    display: inline-block;
    padding: 0;
    width: 25%;
    text-align: right;
    text-decoration: none;
}
.quicklinks a:hover{
    color: blue;
    transform: translateY(0.95);
}
/*navlinks*/
.navlinks{
    width: 100%;
    background-color: darkolivegreen;
    display:flex;
    justify-content: center;
}
.navlinks a{
    display:inline-block;
    width: 20%;
    height:1%;
    padding: 1em;
    font-size: 1em;
    text-decoration: none;
    text-align:center;
    color: white;
}
.navlinks a:hover{
    color: blue;
    transform: translateY(0.95);
}
/* MAIN - INTRO IMAGE*/
.introimage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.introimage img{
    position: relative;
    align-content: center;
}
.intro{
    position: absolute;
    bottom:-20%;
    left: 1%;
    background-color: rgba(0, 136, 255, 0.046);
    padding: 1em;
}
.intro h1{
    font-size:1.75em;
}
.intro h2{
    font-size:1.25em;
}


/*CARDS*/
.titlecard{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.subtitle{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cardscontainer{
    display: flex;
}
.card{
    height:425px;
    width:30%;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    overflow: hidden;
    margin:1% 2%;
}
.card img{
    height: 250px;
    flex-wrap: wrap;
}
.card p{
    text-align: center;
    height: 40px;
}
.card a{
    background-color: darkgreen;
    padding:1em;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    ;
}
.card a:hover{
    color: aqua;
    transform: translateY(0.90);
}
.lastcardscontainer {
    height: 400px;
    width: 350px;
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    text-align: center;
}
.verticalcard{
    position:relative;
}
.verticalcard img{
    position: relative;
    display: flex;
    align-items: center;
    height:400px;
}
.verticalcard h3{
    position:absolute;
    bottom:10%;
    left:33%;
    text-align: center;
    color: white;
}
.footer{
    text-align: center;
    background-color: green;
    padding: 3em;
    color: white;
}
