.shape, .rectangle{
    width: 200px;
    height: 300px;
    background-color: orangered;
    margin-bottom: 3em;

}
.circle{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;
}
.square{
    width: 200px;
    height: 200px;
    background-color: aquamarine
}